body{
    background-color: rebeccapurple;
    color: wheat;

    & > h1 {
        text-align: center;
    }
}

.toDoContainer{
    border: 2px solid red;
}

.todoItem{
    border: 2px solid yellow;
}